<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\AnhTuanIT\git\PhuongPhapTinhJava\DaThucNoiSuy\app\DaThucNoiSuy.jar</jar>
  <outfile>C:\Users\AnhTuanIT\git\PhuongPhapTinhJava\DaThucNoiSuy\app\DaThucNoiSuy.exe</outfile>
  <errTitle>My awesome program needs java. Please install java first.</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\AnhTuanIT\git\PhuongPhapTinhJava\DaThucNoiSuy\app\calculator.ico</icon>
  <singleInstance>
    <mutexName>DaThucNoiSuy</mutexName>
    <windowTitle>Da Thuc Noi Suy</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Da Thuc Noi Suy</fileDescription>
    <copyright>PAT</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>Da Thuc Noi Suy</productName>
    <companyName>Tuan Studio</companyName>
    <internalName>DaThucNoiSuy</internalName>
    <originalFilename>DaThucNoiSuy.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>